/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  font-family: inherit;
  font-size: inherit;
}

button {
  font-family: inherit;
  font-size: 2.5em;
  width: 70px;
  height: 70px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(212, 212, 212);
}

button:active {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(202, 202, 202);
}

#title {
  margin: 50px auto;
}

#main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#sidebar,
#ghost-spacer {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

#cell-number-input {
  width: 70px;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 45em;
  height: 45em;
  border: 2px solid black;
}

.cell {
  user-select: none; /* Prevents highlighting text */
  -webkit-user-drag: none; /* Prevents the "ghosting" drag effect */
}

.border {
  outline: 1px solid #eee;
}
